#!/bin/sh -e
#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

##############################################################################
#
# This is a sample file. The active file should remove the ".sample" suffix.
# The purpose of this file is to externalize the runtime settings from the
# script itself, and to not require manually-entered parameters. So feel free
# to change the values below, but don't change the name of the variables.
# All the build scripts will read from this file, so not all variables will
# be used in a single script, though other scripts here may use them.

#############################################
#### For updating a new platform release ####
#############################################
# process artifact for this platform
PLATFORM_REPO=cordova-android

# name of the git branch that is being worked on (should end in "esr")
BRANCH=3.1.0esr

# name of the new git tag for this new addition
NEW_TAG=WL6100u4

# name of the git tag which already exists immediately previous
PREV_TAG=WL6100u3

# when adding plugins to a platform, name of a plugin to skip
# (i.e., "cordova-geolocation" for Android)
SKIP_PLUGIN=

##########################
##### For all scripts ####
##########################
# name of the git remote repository from "git remote -v"
REMOTE_ORIGIN=corimf

# the "git remote -v" name for the Apache read-only repos on github.com
# (i.e., https://github.com/apache/cordova-android.git for Android)
MASTER_ORIGIN=github

# the "git remote -v" name for the read-write Apache repos on git-wip-us.a.o.
RW_ORIGIN=apache

# this is a new branch to pull from $MASTER_ORIGIN. You are not expected
# to have this already checked out, or for it to already exist locally.
# Should be in the form "3.4.x" or "master". Using "master" will get you
# the latest development branches: master for platforms and other, dev for
# plugins. Yes, this does kind of assume that $BASE_BRANCH is the latest
# production branch for the platforms because it gets master for the plugins
# and other.
BASE_BRANCH=3.4.x

##############################################################################
# Shouldn't need to change anything below here.

PLUGMAN_REPO=cordova-plugman
PLUGIN_COUNT=19
PLUGINS="cordova-plugin-battery-status cordova-plugin-camera cordova-plugin-console cordova-plugin-contacts cordova-plugin-device cordova-plugin-device-motion cordova-plugin-device-orientation cordova-plugin-dialogs cordova-plugin-file cordova-plugin-file-transfer cordova-plugin-geolocation cordova-plugin-globalization cordova-plugin-inappbrowser cordova-plugin-media cordova-plugin-media-capture cordova-plugin-network-information cordova-plugin-splashscreen cordova-plugin-vibration cordova-plugin-statusbar"
PLATFORM_REPOS="cordova-android cordova-blackberry cordova-ios cordova-windows cordova-wp8 cordova-js"
OTHER_REPOS="cordova-blackberry-plugins cordova-cli cordova-plugman"
